.Counter {
    text-align: center;
}

.Counter h1 {
    font-size: 40px;
}

.Counter h2 {
    font-size: 60px;
}

.Counter input {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.Counter button {
    text-align: center;
    padding: 10px 15px;
    font-size: 20px;
}

.Counter .green {
    color: green;
}

.Counter .red {
    color: red;
}

